<div class="container mt-4">
  <h2>Authors</h2>

  <button class="btn btn-primary mb-3" [routerLink]="['/authors/add']">Add Author</button>

  <table border="1" cellpadding="8">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Biography</th>
        <th>Birth_date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td>{{ author.id }}</td>
        <td>{{ author.name }}</td>
        <td>{{ author.biography }}</td>
        <td>{{ author.birth_date }}</td>
        <td>
          <button class="btn btn-sm btn-info" [routerLink]="['/authors/edit', author.id]">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteAuthor(author.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-3">
  <button class="btn btn-outline-primary me-2" 
          [disabled]="!pagination.previous" 
          (click)="loadAuthors(currentPage - 1)">
    « Previous
  </button>

  <span>Page {{ currentPage }}</span>

  <button class="btn btn-outline-primary ms-2" 
          [disabled]="!pagination.next" 
          (click)="loadAuthors(currentPage + 1)">
    Next »
  </button>
</div>
</div>


