<h1>{{ title() }}</h1>

<nav>
  <a routerLink="/books">📚 Book List</a> |
  <a routerLink="/books/add">➕ Add Book</a> |
  <a routerLink="/authors">👤Author List</a> |
  <a routerLink="/authors/add">➕ Add Author</a> |
  <a routerLink="/borrowers">👤Borrower List</a> |
  <a routerLink="/borrowers/add">➕Add Borrower</a> |
  <a routerLink="/borrowrecords">📚 BorrowRecord List</a> |
  <a routerLink="/borrowrecords/add">➕ Add BorrowRecord</a>
</nav>

<hr />

<!-- Where routed components will render -->
<router-outlet></router-outlet>







